In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        src = os.path.join(dirname, filename)

In [2]:
df = pd.read_csv(src)
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
import pandas as pd

# Dictionary of new column names
column_mapping = {
    "date": "datetime",
    "Appliances": "appliances_energy_wh",
    "lights": "lights_energy_wh",
    "T1": "temp_kitchen_c",
    "RH_1": "humidity_kitchen_pct",
    "T2": "temp_living_c",
    "RH_2": "humidity_living_pct",
    "T3": "temp_laundry_c",
    "RH_3": "humidity_laundry_pct",
    "T4": "temp_office_c",
    "RH_4": "humidity_office_pct",
    "T5": "temp_bathroom_c",
    "RH_5": "humidity_bathroom_pct",
    "T6": "temp_northside_c",
    "RH_6": "humidity_northside_pct",
    "T7": "temp_ironing_c",
    "RH_7": "humidity_ironing_pct",
    "T8": "temp_teenager2_c",
    "RH_8": "humidity_teenager2_pct",
    "T9": "temp_parents_c",
    "RH_9": "humidity_parents_pct",
    "T_out": "temp_outside_c",
    "Press_mm_hg": "pressure_mmHg",
    "RH_out": "humidity_outside_pct",
    "Windspeed": "wind_speed_mps",
    "Visibility": "visibility_km",
    "Tdewpoint": "dewpoint_temp_c",
    "rv1": "random_var1",
    "rv2": "random_var2"
}

df.rename(columns=column_mapping, inplace=True)
df.head()

,datetime,appliances_energy_wh,lights_energy_wh,temp_kitchen_c,humidity_kitchen_pct,temp_living_c,humidity_living_pct,temp_laundry_c,humidity_laundry_pct,temp_office_c,...,temp_parents_c,humidity_parents_pct,temp_outside_c,pressure_mmHg,humidity_outside_pct,wind_speed_mps,visibility_km,dewpoint_temp_c,random_var1,random_var2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df = df.round(2)
df.head()

,datetime,appliances_energy_wh,lights_energy_wh,temp_kitchen_c,humidity_kitchen_pct,temp_living_c,humidity_living_pct,temp_laundry_c,humidity_laundry_pct,temp_office_c,...,temp_parents_c,humidity_parents_pct,temp_outside_c,pressure_mmHg,humidity_outside_pct,wind_speed_mps,visibility_km,dewpoint_temp_c,random_var1,random_var2
0,2016-01-11 17:00:00,60,30,19.89,47.60,19.2,44.79,19.79,44.73,19.00,...,17.03,45.53,6.60,733.5,92.0,7.00,63.00,5.3,13.28,13.28
1,2016-01-11 17:10:00,60,30,19.89,46.69,19.2,44.72,19.79,44.79,19.00,...,17.07,45.56,6.48,733.6,92.0,6.67,59.17,5.2,18.61,18.61
2,2016-01-11 17:20:00,50,30,19.89,46.30,19.2,44.63,19.79,44.93,18.93,...,17.00,45.50,6.37,733.7,92.0,6.33,55.33,5.1,28.64,28.64
3,2016-01-11 17:30:00,50,40,19.89,46.07,19.2,44.59,19.79,45.00,18.89,...,17.00,45.40,6.25,733.8,92.0,6.00,51.50,5.0,45.41,45.41
4,2016-01-11 17:40:00,60,40,19.89,46.33,19.2,44.53,19.79,45.00,18.89,...,17.00,45.40,6.13,733.9,92.0,5.67,47.67,4.9,10.08,10.08